<%= form_for(@hour_record) do |f| %>
  <% if @hour_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hour_record.errors.count, "error") %> prohibited this hour_record from being saved:</h2>

      <ul>
      <% @hour_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :activity_id, "Actividad" %><br>
    <%= f.select :activity_id, grouped_options_for_select(@activities), { include_blank: "Ninguno" }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :worked_hours_dec, "Horas trabajadas" %><br>
    <%#= f.time_select :worked_hours_dec, class: "form-control" %>
    <%= f.text_field :worked_hours_dec, class: "form-control", onClick: "this.select();" %>
  </div>
  <div class="field">
  <div class="form-group">
    <%= f.label :worked_date, "Fecha" %><br>
    <%= f.text_field :worked_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descripción" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="row">
    <div class="text-right">
      <%= f.submit "Crear/Actualizar Registro", class: "btn btn-primary"%>
      <%= link_to "Cancelar", hour_records_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>

<!-- # Descomentar la línea JS cuando se empiece a restringir el registro de horas de más de 5 días -->
<script type="text/javascript">
  ( function( factory ) {
    if ( typeof define === "function" && define.amd ) {
      // AMD. Register as an anonymous module.
      define( [ "../widgets/datepicker" ], factory );
    } else {
      // Browser globals
      factory( jQuery.datepicker );
    }
  }( function( datepicker ) {
    datepicker.regional.es = {
      closeText: "Cerrar",
      prevText: "&#x3C;Ant",
      nextText: "Sig&#x3E;",
      currentText: "Hoy",
      monthNames: [ "enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre" ],
      monthNamesShort: [ "ene","feb","mar","abr","may","jun","jul","ago","sep","oct","nov","dic" ],
      dayNames: [ "domingo","lunes","martes","miércoles","jueves","viernes","sábado" ],
      dayNamesShort: [ "dom","lun","mar","mié","jue","vie","sáb" ],
      dayNamesMin: [ "D","L","M","X","J","V","S" ],
      weekHeader: "Sm",
      dateFormat: "dd/mm/yy",
      firstDay: 1,
      isRTL: false,
      showMonthAfterYear: false,
      yearSuffix: "" };
    datepicker.setDefaults( datepicker.regional.es );
    return datepicker.regional.es;
  }));

  $(function () {
    $("#hour_record_worked_date").datepicker({
      // minDate: -5,
      changeMonth: true,
      changeYear: true,
      dateFormat: "d MM, yy"
    });
  });
</script>
