<h1>Registro de horas</h1>
<div class="text-right">
  <%= link_to "Nuevo Registro", new_hour_record_path, class: "btn btn-default" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Actividad</th>
      <th>Horas reportadas</th>
      <th>Fechas</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hour_records.each do |hour_record| %>
      <tr>
        <td><%= hour_record.activity.present? ? hour_record.activity.name : "" %></td>
        <td><%= hour_record.worked_hours.to_i %></td>
        <td><%= hour_record.worked_date.present? ? hour_record.worked_date.strftime("%e %B, %Y") : "" %></td>
        <td><%= hour_record.description %></td>
        <td><%= link_to 'Show', hour_record %></td>
        <td><%= link_to 'Edit', edit_hour_record_path(hour_record) %></td>
        <td><%= link_to 'Destroy', hour_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

