<div class="row">
  <div style="float: right;"><%= (link_to 'Nuevo Proyecto', new_project_path, :class => "btn btn-sm btn-primary", :style => "color:white;") %></div>
</div>
<div class="row">
  <% @projects.each_with_index do |project, index| %>
    <div class="col-md-4 portfolio-item" style="background-color:white; ">
      <div class="counter-number" style="font-size: 50px; text-align:center; margin-top: 0.5cm;"><%= image_tag("http://www.enactusutm.org/images/kuili.png") %></div>
      <h3><%= project.name.to_s %></h3>
      <small>
        <%= link_to 'Mostrar', project_path(project) %> | 
        <%= link_to 'Editar', edit_project_path(project) %> | 
        <%= link_to 'Borrar', project, method: :delete, data: { confirm: 'Esta acción no se puede deshacer. ¿Está seguro de querer borrar el projecto?' } %>
      </small>

      <p>
        <table class="table table-bordered">
          <thead>
            <tr>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Líder</td>
              <td>
                <% project.leaders.each do |leader| %>
                  <%= leader.full_name %><br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Colaboradores</td>
              <td><%= project.colaborators.size %></td>
            </tr>
            <tr>
              <!-- <td>Descripción</td> -->
              <td colspan="2"><%= project.description %></td>
            </tr>
          </tbody>
        </table>
      </p>

    </div>
  <% end %>
</div>
