<table class="table table-striped">
  <thead>
    <tr>
      <th>Apellidos</th>
      <th>Nombre(s)</th>
      <th>Email</th>
      <th>Proyecto</th>
      <th>Posición</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% all_enacters.each do |enacter| %>
      <tr>
        <td><%= enacter.lname %></td>
        <td><%= enacter.fname %></td>
        <td><%= enacter.email %></td>
        <td><%= enacter.project.name if enacter.project %></td>
        <td><%= enacter.position_title %></td>
        <td>
          <% if current_user.leader? and enacter.project.blank? %>
            <%= link_to "Agregar a mi proyecto", "enacters/update_positions?project_id[#{enacter.id}]=join", method: :put, data: {}, class: "btn btn-default" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
