<legend>Enacters</legend>

<% if @edit_mode %>
  <%= form_tag url_for(:controller => 'enacters', :action => 'update_positions'), :method => 'put' do %>
    <div class="text-right">
      <%= submit_tag "Guardar cambios", data: { disable_with: "Guardando cambios..." }, class: "btn btn-primary" %>
      <%= link_to "Cancelar", enacters_path, class: "btn btn-default" %>
    </div>

    <%= render partial: "table_all_enacters_edit", locals: { all_enacters: @enacters } %>

    <br><br>
    <legend>Enacters sin proyecto</legend>
    <%= render partial: "table_all_enacters_edit", locals: { all_enacters: @free_enacters } %>

  <% end %>
<% else %>
  <% if current_user.admin? %>
    <div class="text-right">
      <%= link_to "Editar asignaciones", enacters_path(mode: "edit"), class: "btn btn-default" %>
    </div>
  <% end %>

  <%= render partial: "table_all_enacters_show", locals: { all_enacters: @enacters } %>

  <br><br>
  <legend>Enacters sin proyecto</legend>
  <% if current_user.leader? %>
    <div class="text-right">
      <%#= link_to "Agregar a mi proyecto", enacters_path(mode: "edit"), class: "btn btn-default" %>
    </div>
  <% end %>
  <%= render partial: "table_all_enacters_show", locals: { all_enacters: @free_enacters } %>

  <% if current_user.admin? %>
    <br><br>
    <legend>Enacters pendientes por aceptar la invitación</legend>
    <div class="text-right">
      <%= link_to "Invitar enacters", invite_enacters_path, class: "btn btn-primary" %>
    </div>

    <% if @users_invited.any? %>
      <%= render partial: "table_invited_enacters_show", locals: { invited_enacters: @users_invited } %>
    <% end %>
  <% end %>
<% end %>
