<legend>
  <%= project ? "Actividades de #{project.name}" : "Actividades generales" %>
  <% if project %>
    <small><%= " (" + project.total_hours.to_s + " hrs)" %></small>
  <% else %>
    <small><%= " (" + (@hours_without_project + @hours_without_activity).to_s + " hrs)" %></small>
  <% end %>
</legend>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Horas</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if project.blank? %>
      <tr>
        <td>(Sin actividad)</td>
        <td></td>
        <td><%= @hours_without_activity.to_s %></td>
        <td></td><td></td>
      </tr>
    <% end %>
    <% activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= @hours_per_activity[activity.id].to_f %></td>
        <% if current_user.project == project %>
          <td><%= link_to 'Editar', edit_activity_path(activity) %></td>
          <td>
            <% if @hours_per_activity[activity.id].to_f <= 0.0 %>
              <%= link_to 'Eliminar', activity, method: :delete, data: { confirm: "¿Seguro que desea eliminar esta actividad?" } %>
            <% end %>
          </td>
        <% else %>
          <td></td><td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
